doc
bomb-her-man
aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
config.h
config.h.in
stamp-h1
.deps
.aux/
ABOUT-NLS
INSTALL
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/fr.gmo
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-po
*.o
*~
