@font-face {
    font-family: 'LinuxBiolinum';
    src: url('fonts/biolinum-webfont.eot');
    src: local('☺'), url('fonts/biolinum-webfont.woff') format('woff'), url('fonts/biolinum-webfont.ttf') format('truetype'), url('fonts/biolinum-webfont.svg#webfontw3osLso9') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'LinuxBiolinum';
    background-color: #fff;
}

#wrapper {
    width: 808px;
    min-height: 808px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    background: #FFF0D8 url('../img/bomb-her-man.png') no-repeat center center;
    border: 1px solid #ccc;
}

.toggler {
    background-image: url('../img/title.png');
    padding-top: 7px;
    font-size: 21px;
    color: #000;
    height: 31px;
    width: 800px;
    background-repeat: no-repeat;
    border: 1px solid #999;
    margin-bottom: 10px;
}
.toggler img {
    margin-right: 5px;
    margin-left: 2px;
}
.element {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}